
/* GENERICO */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Orbitron:wght@500;600;700&display=swap');
/* BODY */

body{
    background-color: rgb(22, 21, 21);
    font-family: 'Orbitron', sans-serif;
}

.bg-page{
    height: 100vh;
    background-image: linear-gradient(black, transparent, black),url('/img/horizon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

button:focus,textarea:focus, input:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-custom {
    color:white;
    padding: 10px 20px;
    border: 2px solid rgb(0, 109, 182);
    margin: 30px 10px;
}

.btn-custom:hover {
    text-shadow: 0 0 10px rgb(0, 109, 182),
      0 0 20px rgb(0, 109, 182),
      0 0 30px rgb(0, 109, 182),
      0 0 40px rgb(0, 109, 182),
      0 0 70px rgb(0, 109, 182),
      0 0 80px rgb(0, 109, 182),
      0 0 100px rgb(0, 109, 182),
      0 0 150px rgb(0, 109, 182);
  }

